[package]
name = "ctap-hid-fido2"
version = "2.2.3"
authors = ["gebo <35388172+gebogebogebo@users.noreply.github.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

license="MIT"
description="Rust FIDO2 CTAP library"
repository="https://github.com/gebogebogebo/ctap-hid-fido2"
keywords=["FIDO2","CTAP"]
readme="README.md"

[dependencies]
aes="0.7.5"
anyhow = "1.0"
base64 = "0.13.0"
block-modes="0.8.1"
byteorder = "1.3.4"
hex = "0.4.2"
num = "0.4.0"
pad = "0.1.6"
ring = "0.16.20"
serde = "1.0.126"
serde_cbor = "0.11.1"
strum = "0.24"
strum_macros = "0.24"
x509-parser = "0.13"

[dependencies.hidapi]
version = "1.2.3"
default-features = false
features=["linux-static-hidraw"]